body{
    background-color: #255630;
    color: white;
    text-align: center;
}

.deck{
    display: flex;
    gap: 175px;
}

.card{
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px #018f4c;
    padding: 20px;
    text-align: center;
}

.card progress{
    accent-color: #a2db06
}

.card h2{
    font-size: 18px;
}

.card button{
    width: 100%;
    margin-bottom: 8px;
}

.loja button{
    background-color: #2aa146;
    color: aliceblue;
    border-radius: 25px;
}

.card button{
    background-color: #2aa146;
    color: aliceblue;
    border-radius: 25px;
}