body{
    background-color: #255630;
    color: white;
    text-align: center;
}

.deck{
    display: flex;
    gap: 95px;
}

.card{
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px gray;
    padding: 20px;
    text-align: center;
}

.card h2{
    font-size: 18px;
}

.card button{
    width: 100%;
    margin-bottom: 8px;
}